<!--begin::Footer-->
<footer class="app-footer">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-12 col-sm-6 text-center text-sm-start">
                <p class="mb-0">
                    &copy; <a href="#" class="text-decoration-none">Your Website</a> 2023
                </p>
            </div>
            <div class="col-12 col-sm-6 text-center text-sm-end">
                <p class="mb-0">
                    Version 1.0.0
                </p>
            </div>
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</footer>
<!--end::Footer-->