<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Ma compagnie{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('dist/css/adminlte.css') }}">
    <link rel="stylesheet" href="{{ asset('dist/css/bootstrap.css') }}">
    {# Ajoute les autres CSS nécessaires ici #}
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

      {% include 'partial/navbar.html.twig' %}
      {% include 'partial/sidebar.html.twig' %}

      <div class="content-wrapper">
        {% block body %}{% endblock %}
      </div>

      {% include 'partial/footer.html.twig' %}

    </div>

    <script src="{{ asset('dist/js/bootstrap.bundle.js') }}"></script>
    <script src="{{ asset('dist/js/adminlte.js') }}"></script>
    {# Ajoute les autres JS nécessaires ici #}
  </body>
</html>
